@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow: hidden; }

body {
  background: #0248ff url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Lato', sans-serif; }

.container {
  width: 85%;
  margin: 2rem auto 0 auto;
  height: 100vh; }

.navbar {
  display: flex;
  align-items: center; }
  .navbar__link {
    list-style-type: none;
    font-size: 1.8rem;
    color: #e8f3fe;
    transition: all .2s; }
    .navbar__link:hover {
      cursor: pointer;
      color: #fff; }
  .navbar i {
    font-size: 1.6rem; }
  .navbar__left {
    flex: 4;
    display: flex;
    justify-content: space-between; }
  .navbar__right {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__blank {
    flex: 2; }
  .navbar__brand {
    flex: 2;
    font-size: 2.4rem;
    font-weight: 700; }
  .navbar .signup {
    color: #fff;
    border: 0.1rem solid #4787e9;
    padding: .6rem 1.4rem;
    border-radius: .3rem;
    font-weight: 700;
    transition: all .5s; }
    .navbar .signup:hover {
      color: #4787e9;
      background-color: #fff;
      border-color: #fff; }

.hero {
  display: flex;
  align-items: center;
  height: 80vh; }
  .hero .copy {
    flex: 3; }
    .hero .copy .headline {
      font-size: 6rem;
      font-weight: 700;
      line-height: 6.5rem;
      margin-bottom: 1.5rem; }
    .hero .copy .lead {
      font-size: 2.6rem;
      line-height: 4rem;
      color: #e8f3fe; }
  .hero__blank {
    flex: 1; }
  .hero .form {
    flex: 2;
    padding: 6rem 2rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5); }
    .hero .form__title {
      color: #000;
      text-align: center;
      font-size: 3rem;
      margin-bottom: 5rem; }
    .hero .form input {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
    .hero .form__submit {
      background-color: #1c49fc;
      color: #fff;
      padding: 1rem;
      border-radius: .5rem;
      width: 100%;
      cursor: pointer; }
    .hero .form .legal {
      color: #888c95;
      text-align: center;
      font-size: 1.4rem;
      margin-top: 2rem; }
